<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiMHmwQyaZ8_P7bAVCLjiMj150mbPq0OU</string>
	<key>GCM_SENDER_ID</key>
	<string>392787992951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gghoneycomb.WeatherIsMyMood</string>
	<key>PROJECT_ID</key>
	<string>weatherisland-8fdc2</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherisland-8fdc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392787992951:ios:41c52fce385e69166e8172</string>
</dict>
</plist>